.myform{
    max-width:400px;
    margin: 0 auto;
    padding: 30px 20px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    background-color: white;
}
.myform h3{
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    color:#212529;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}
.myform p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
    color: #212529;
}
.myform input{
    width: 100%;
    margin-bottom: 15px;
    border:none;
    border-bottom: 1px solid gray;
    outline:none;
    padding: 5px;
}
.myform button{
    background-color: #0043c6;
    color:white;
    border:none;
    outline:none;
    border-radius: 4px;
    padding:6px 15px;   
    margin:0 auto;
    margin-top: 10px;
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
}
