<section>
    <div class="contact-form">
        <div class="myform">
            <h3>REQUEST A CALLBACK</h3>
            <p>Fill Up The Form To Get A Quick Call Back From Us!</p>
            <form>
                <input type="text" placeholder="Your Name *">
                <input type="text" placeholder="Phone No *">
                <input type="email" placeholder="Email Id *">
                <button type="submit" >LET'S TALK</button>
            </form>
        </div>
    </div>
</section>
