<section>
    <div class="steps">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h2>SEO Core Service</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12 pb-4">
                    <div class="square">
                        <div class="df">
                            <img src="assets/images/icons8-email-open-48.png" width="100%" height="100%" alt="">
                        </div>
                        
                        <h3>ORGANIC SEARCH</h3>
                        <p>we helps you to take a specific search terms that helps you to increase your search terms.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 pb-4">
                    <div  class="square">
                        <div class="df">
                            <img src="assets/images/icons8-male-user-64.png" width="100%" height="100%" alt="">
                        </div>
                        <h3>ON PAGE SEO</h3>
                        <p>We helps to optimize all the page, images as well as all the content to make your website lighter.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 pb-4">
                    <div  class="square">
                        <div class="df">
                            <img src="assets/images/icons8-performance-imac-100.png" width="100%" height="100%" alt="">
                        </div>
                        <h3>INTERNAL LINKING</h3>
                        <p>We build quality and relevant link to promote your site and search engine favorable link.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
