
<section>
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Our Services</h1>
                    <p class="tag">Specializing in creating highly performing sites for mid-market to enterprise businesses.</p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <img src="assets/social_icons/facebook.png" width="100%" alt="">
                        </div>
                        <div>
                            <h4>Website Design</h4>
                            <p>Webite design is the art of making your website...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <img src="assets/social_icons/facebook.png" width="100%" alt="">
                        </div>
                        <div>
                            <h4>Digital Marketing</h4>
                            <p>We are expert in building your online presence...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <img src="assets/social_icons/facebook.png" width="100%" alt="">
                        </div>
                        <div>
                            <h4>Software Development</h4>
                            <p>Web Store is a top-rated software Development Company...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <img src="assets/social_icons/facebook.png" width="100%" alt="">
                        </div>
                        <div>
                            <h4>Website Maintenance</h4>
                            <p>Web Store makes your website up to date...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
