<section>
    <div class="terms-and-conditions">
        <div class="container">
            <div class="row">
                <div class="col">
                    
                        <ul>
                            <li>All the information available on the website is the property of Next Screen Infotech Pvt. Ltd. Copying the material from the website to any public or private electronic retrieval system is completely prohibited. No information mentioned in our website is utilized in conjunction with any other commercial websites or used in any other way without our written permission.</li>
                            <li>If you hire us for the services we offer, you agree to the payment procedure and the amount.</li>
                            <li>We take dedicated effort to deliver your work within the time frame mentioned in each package offered by us or the conversation we have before starting the project. But in some very rare For any kind of support or inquiry, you can contact us via mail, phone, Skype or email from Monday to Saturday 10 am to 7 pm. Only on the major Indian national holidays, the hours may differ. scenarios or for any particular reason it can take some more reasonable time and you are agreed to give that time for the quality job.</li>
                            <li>We reserve the right to modify our website’s information in a timely manner. To stay updated, please go through our website from time to time.</li>
                            <li>We take efforts to ensure that all the information of our website is correct and up to date. Mention of inaccuracy and incompleteness of any detail is totally unintentional. Verifying information individually is needed from your side other than relying on the website content.</li>
                        
                        </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>
