<section>
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Got a custom professional or
                        ecommerce requirement? We got you covered.</h1>
                </div>
            </div>
        </div>
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12 pb-3">
                        <div>
                            <input type="text" placeholder="NAME">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 pb-3">
                        <div>
                            <input type="text" placeholder="PHONE NO">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 pb-3">
                        <div>
                            <input type="text" placeholder="EMAIL ID">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12 pb-3">
                        <div>
                            <button>LETS' TALK</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>