.portfolio{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--theme2-background);
}
.portfolio h1{
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    color:var(--theme2-text);
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 3px;
}

.port{
    color: white;
    padding: 25px 0px 25px 25px;
}
.portfolio .clr-purple{
    background-image: linear-gradient(to left, #932bd5, #a127de, #af22e8, #be18f0, #cd04f9);
   
}
.portfolio .clr-blue{
    background-image: linear-gradient(to left, #0b88e4, #0090e5, #0098e5, #00a0e4, #0ea7e3);
}

.port h2{
    font-size: 25px;
}
.port h3{
    font-weight: bold;
}
.port h4{
    margin-bottom: 20px;
}