<section>
    <div class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Our Portfolio</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                    <div class="port clr-purple d-flex">
                        <div style="flex:1;">
                            <h2>prime</h2>
                            <h3>Web Designing</h3>
                            <h4>Explicit Web Designing Services</h4>
                            <p>strengthen your brand with <br> Professional<br>Web Design </p>
                            
                        </div>
                        <div style="flex:1;">
                            <img src="https://www.nextscreen.in/assets/images/portfoliopic1.svg">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                    <div class="port clr-blue d-flex">
                        <div style="flex:1;">
                            <h2>prime</h2>
                            <h3>Web Designing</h3>
                            <h4>Explicit Web Designing Services</h4>
                            <p>strengthen your brand with <br> Professional<br>Web Design </p>
                            
                        </div>
                        <div style="flex:1;">
                            <img src="https://www.nextscreen.in/assets/images/portfoliopic1.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>