
<section>
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Benefits of working with our experts</h2>
                </div>
            </div>
            <div class="row">
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-3x fa-tablet" style="color:#e2574c;"></i>
                        </div>
                        <div>
                            <h4>RESPONSIVE DESIGN</h4>
                            <p>Fully responsive website to reach every device audience</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-3x fa-search" style="color:#e2574c;"></i>
                        </div>
                        <div>
                            <h4>SEO FRIENDLY</h4>
                            <p>Optimized website for easy search engine ranking</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-3x fa-clone" style="color:#e2574c;"></i>
                        </div>
                        <div>
                            <h4>Fully customized</h4>
                            <p>A tailored layout which matches your business and user</p>
                          
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-3x fa-clock-o" style="color:#e2574c;"></i>
                        </div>
                        <div>
                            <h4>Quick Delivery</h4>
                            <p>Our web experts work round the clock to ensure shortest delivery time</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-3x fa-inr" style="color:#e2574c;"></i>
                        </div>
                        <div>
                            <h4>Affordable</h4>
                            <p>Economic ease for starter business with less load on pockets</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-3x fa-envelope-o" style="color:#e2574c;"></i>
                        </div>
                        <div>
                            <h4>Support</h4>
                            <p>Dedicated client manager during and after delivery for seamless support</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



