.steps{
    background-color: var(--theme1-background);
    padding: 60px 0px;
}
.df{
    width: 40px;
    height: 40px;
    margin: 5px auto;
}
h2{
    color: var(--theme1-text);
}

h3{
    color: rgb(61, 61, 61);
    text-align: center;
}
.steps p{
   color: rgb(61, 61, 61);
   text-align: center;
}
.square{
    background-color: white;
    padding: 15px;
}