.single-post{
    padding: 40px 0px;
}
.single-post h1{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: justify;
}
.single-post small{
    font-size: 15px;
    color: #555;
    font-weight: 500;
    text-transform: capitalize;
}

.item-image{
    width: 100%;
    padding-top: 60%; /* 1:6 Aspect Ratio */
    position: relative; 
    border: none;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}

.image-bg{  
    border: none;
    position: absolute;
    top: 0;
    left: 0;
     bottom: 0;
     right: 0;
     z-index: 4;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.image-section{
    border: none;
    position: absolute;
    top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: 5;
}





.share-buttons a{
    display: inline-block;
    margin-right: 10px;
    outline: none;
}
.share-buttons a:hover{
    opacity: .7;
}
.share-buttons a:active{
    transform: scale(.97);
}
.share-buttons .button-main{
    height:32px;
    margin-bottom: 10px;
    display: flex;
}
.share-buttons .icon{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share-buttons .icon i{
    font-size: 16px;
    padding:0;
    margin:0;
    color: white;
}
.share-buttons .text{
    width:100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share-buttons .text p{
    padding: 0;
    margin:0;
    color: white;
}
@media only screen and (max-width:600px){
    .share-buttons .text{
        display: none;
    }
}