.we-design{
    background-color: var(--theme2-background);
    padding-top: 40px;
    padding-bottom: 40px;
}
.we-design h2{
    color: var(--theme2-text);
}
.we-design p{
    text-align: justify;
    color: var(--theme2-text);
}