<section>
    <div class="we-design">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>We design websites that deliver results</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-xs-12 pb-3" >
                    <div>
                        <p>Crafting a compelling websites can sometimes become a hard task. This is where our years of knowledge and deep understanding of user habits and behaviors comes in handy to design websites that are lucrative. We believe that your online presence - is your business front, it is a gateway to infinite scalability.

                            Website is the first point of contact with your online presence and it has to be professional and well reflecting your brand wishes, vision, and values.
                            
                            We at Creative Nuts merge design and technology to help brands achieve their goal in this ever evolving digital era. We are committed to using fact-based knowledge and our unique brand of innovation to help you dominate the competition.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 pb-3" >
                    <div>
                        <img src="assets/images/about.jpg" width="100%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>