
<!-- Section: Pricing table -->
<section id="one" class="pricing-table d-flex align-items-center blue-gradient">

    <div class="container">
    
      <div class="row align-items-center">
        <!-- Free Tier -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title grey-text text-uppercase text-center">Free</h5>
              <h6 class="card-price text-center">$0<span class="term">/month</span></h6>
              <hr class="my-4">
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>5GB Storage</li>
                
                <li class="grey-text"><span class="fa-li"><i class="fa fa-times"></i></span>Dedicated Phone Support</li>
                <li class="grey-text"><span class="fa-li"><i class="fa fa-times"></i></span>Free Subdomain</li>
                <li class="grey-text"><span class="fa-li"><i class="fa fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary z-depth-0 btn-rounded my-2">Button</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card mb-5 mb-lg-0 " style="background-image: linear-gradient(to right top, #09f278, #00ef92, #00eba8, #00e6b9, #00e0c6, #0de0cb, #19e0cf, #23e0d3, #1ce6d5, #14ebd6, #0ef1d7, #0bf6d7);">
            <div class="card-body">
              <h5 class="card-title grey-text text-uppercase text-center">Plus</h5>
              <h6 class="card-price text-center">$9<span class="term">/month</span></h6>
              <hr class="my-4">
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                <li class="grey-text"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="#" class="btn btn-block  z-depth-0 btn-rounded my-2" style="background-color: white; color: black;">Button</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title grey-text text-uppercase text-center">Pro</h5>
              <h6 class="card-price text-center">$49<span class="term">/month</span></h6>
              <hr class="my-4">
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span><strong>Unlimited Users</strong></li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>150GB Storage</li>
               <li><span class="fa-li"><i class="fa fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary z-depth-0 btn-rounded my-2">Button</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    
    </section>
    <!-- Section: Pricing table -->