.steps{
    background-color: var(--background-dark);
    padding: 60px 0px;
}
.df{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps .circle{
    width: 100px;
    height: 100px;
    background-color: #e2574c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 15px;
}
.circle h3{
    font-weight: 700;
    color: var(--text-light-high);
    text-transform: uppercase;
}
.steps p{
    color: var(--text-light-high);
    text-align: center;
}