<section>
    <div class="steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="df">
                        <div class="circle">
                            <h3>STEP 1</h3>
                        </div>
                        <p>Fill your details below and you will receive a call back within an hour.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="df">
                        <div class="circle">
                            <h3>STEP 2</h3>
                        </div>
                        <p>Discuss your requirements with our expert and receive quotes matching your budget.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="df">
                        <div class="circle">
                            <h3>STEP 3</h3>
                        </div>
                        <p>Confirm and handover details of your business to our development team.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="df">
                        <div class="circle">
                            <h3>STEP 4</h3>
                        </div>
                        <p>Sit back and relax while our web wizards craft a perfect website for your business.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
