.steps{
    background-color: var(--theme1-background);
    padding: 60px 0px;
}
.df{
    width: 60px;
    height: 60px;
}
h3{
    color: var(--theme1-text);
}
.steps p{
   color: var(--theme1-text);
}