<section>
    <div class="steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="df">
                        <div>
                            <img src="" alt="">
                        </div>
                        
                        <h3>Excellent Support</h3>
                        <p>Fill your details below and you will receive a call back within an hour.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="df">
                        <div>
                            <img src="" alt="">
                        </div>
                        <h3>Excellent Support</h3>
                        <p>Discuss your requirements with our expert and receive quotes matching your budget.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="df">
                        <div>
                            <img src="" alt="">
                        </div>
                        <h3>Excellent Support</h3>
                        <p>Confirm and handover details of your business to our development team.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
