<section>
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="myform">
                        <h3>Quick Quote</h3>
                        <p>Fill Up The Form To Get A Quick Call Back From Us!</p>
                        <form>
                            <input type="text" placeholder="Your Name *">
                            <input type="text" placeholder="Phone No *">
                            <input type="email" placeholder="Email Id *">
                            <input type="text" placeholder="Your City *">
                            <button type="submit" >SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
