<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 margin-btm-20">
                <div class="quote dark">
                    <blockquote>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.                          
                        </p>
                    </blockquote>                        
                </div>
                <div class="quote-footer text-right">
                    <div class="quote-author-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    </div>
                    <h4>Rakesh Sharma</h4>
                    <p>
                        <strong>Design_mylife</strong>
                    </p>
                </div>
            </div><!--colored quote box col-->
            <div class="col-md-4 margin-btm-20">
                <div class="quote green">
                    <blockquote>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.                          
                        </p>
                    </blockquote>                        
                </div>
                <div class="quote-footer text-right">
                    <div class="quote-author-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                    </div>
                    <h4>Rakesh Sharma</h4>
                    <p>
                        <strong>Design_mylife</strong>
                    </p>
                </div>
            </div><!--colored quote box col-->
            <div class="col-md-4 margin-btm-20">
                <div class="quote dark">
                    <blockquote>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.                          
                        </p>
                    </blockquote>                        
                </div>
                <div class="quote-footer text-right">
                    <div class="quote-author-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                    </div>
                    <h4>Rakesh Sharma</h4>
                    <p>
                        <strong>Design_mylife</strong>
                    </p>
                </div>
            </div><!--colored quote box col-->
        </div><!--testimonials row-->
        </div>
        
        
        
        <div class="container">
                    <div class="row">
                        <div class="col-md-4 margin-btm-20">
                            <div class="quote dark">
                                <blockquote>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.                          
                                    </p>
                                </blockquote>                        
                            </div>
                            <div class="quote-footer text-right">
                                <div class="quote-author-img">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                                </div>
                                <h4>Rakesh Sharma</h4>
                                <p>
                                    <strong>Design_mylife</strong>
                                </p>
                            </div>
                        </div><!--colored quote box col-->
                        <div class="col-md-8 margin-btm-20">
                            <div class="quote green">
                                <blockquote>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.                          
                                    </p>
                                </blockquote>                        
                            </div>
                            <div class="quote-footer text-right">
                                <div class="quote-author-img">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                                </div>
                                <h4>Rakesh Sharma</h4>
                                <p>
                                    <strong>Design_mylife</strong>
                                </p>
                            </div>
                        </div><!--colored quote box col-->
        
                    </div><!--testimonials row-->
                </div>
</section>
