.blog-featured{
    padding: 20px 0px;
    background-image: linear-gradient(to left bottom, #fd1603, #fe2428, #fd333f, #f94153, #f44f65);
}
.blog-head{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-head h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}