
<section>
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Our Services</h2>
                    <p >Specializing in creating highly performing sites for mid-market to enterprise businesses.</p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-laptop fa-3x" style="color:#1eb786;"></i>
                        </div>
                        <div>
                            <h4>Website Design</h4>
                            <p>Webite design is the art of making your website...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-area-chart fa-3x" style="color:#f538c5;"></i>
                        </div>
                        <div>
                            <h4>Digital Marketing</h4>
                            <p>We are expert in building your online presence...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-photo fa-3x" style="color:#e7801c;"></i>
                        </div>
                        <div>
                            <h4>Software Development</h4>
                            <p>We build top-rated real time software...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <div class="item d-flex">
                        <div class="logo">
                            <i class="fa fa-wrench fa-3x" style="color:rgb(224, 46, 46);"></i>
                        </div>
                        <div>
                            <h4>Website Maintenance</h4>
                            <p>Web Store makes your website up to date...</p>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
