<section *ngIf="footerDetail">
    <div class="footer">
        <div class="container">
            <div class="row points">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <h3>Explore Pages</h3>
                    <!-- <hr class="title-hr"> -->
                    <div>
                        <a routerLink=""><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Home | Web Store</a>
                    </div>
                    <div>
                        <a routerLink="about"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>About Agency</a>
                    </div>
                    <div>
                        <a routerLink="pricing"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Our Pricing
                            Plans</a>
                    </div>
                    <div>
                        <a routerLink="testimonial"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Testimonial
                            / Reviews</a>
                    </div>
                    <div>
                        <a routerLink="contact"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Contact
                            Information</a>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <h3>Our Services</h3>
                    <!-- <hr class="title-hr"> -->
                    <div>
                        <a routerLink="services/web-development"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Web Development</a>
                    </div>
                    <div>
                        <a routerLink="services/search-engine-optimization"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Search Engine Optimization</a>
                    </div>
                    <div>
                        <a routerLink="services/social-media-marketing"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Social Media Marketing</a>
                    </div>
                    <div>
                        <a routerLink="services/website-maintainance"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Website Maintainance</a>
                    </div>
                    <div>
                        <a routerLink="services/build-your-bussiness-a-brand"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Build Your Bussiness A Brand</a>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <h3>Popular Articles</h3>
                    <!-- <hr class="title-hr"> -->
                    <div>
                        <a routerLink="services/web-development"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Why are websites necessary for bussiness?</a>
                    </div>
                    <div>
                        <a routerLink="services/search-engine-optimization"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>How to beat your competitors in Bussiness?</a>
                    </div>
                    <div>
                        <a routerLink="services/social-media-marketing"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>How to increase your website local ranking?</a>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-3">
                    <h3>Our Policy</h3>
                    <!-- <hr class="title-hr"> -->
                    <div>
                        <a routerLink="privacy-policy"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Privacy
                            Policy</a>
                    </div>
                    <div>
                        <a routerLink="terms-and-conditions"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Terms
                            & Conditions</a>
                    </div>

                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-3">
                    <h3>Images Credit</h3>
                    <!-- <hr class="title-hr"> -->
                    <div>
                        <a target="_blank" href="https://pngtree.com"><i class="fa fa-caret-right mr-2"
                                aria-hidden="true"></i>Get copyright free images on pngtree.com</a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col py-3">
                    <a href="" class="mr-3"><img src="assets/social_icons/facebook.png" alt="facebook"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/instagram.png" alt="instagram"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/youtube.png" alt="youtube"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/whatsapp.png" alt="whatsapp"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/linkedin.png" alt="linkedin"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/twitter.png" alt="twitter"></a>


                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="hr-line" />
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="d-flex des">
                        <div style="width:40px; margin-right: 5px;">
                            <i class="fa fa-microphone fa-2x" style="color: #4cc2c0;"></i>
                        </div>
                        <div>
                            <h2>+91 7838114278</h2>
                            <p>Mon-Sat 9am-6pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="d-flex des">
                        <div style="width:40px; margin-right: 5px;">
                            <i class="fa fa-envelope fa-2x" style="color: #4cc2c0;"></i>
                        </div>
                        <div>
                            <h2>webstore@gmail.com</h2>
                            <p>Online Support</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="d-flex des">
                        <div style="width:40px; margin-right: 5px;">
                            <i class="fa fa-address-card fa-2x" style="color: #4cc2c0;"></i>
                        </div>
                        <div>
                            <h2>Patna City, India</h2>
                            <p>Patna city</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<section *ngIf="footerDetail">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col pt-4 pb-4">
                    <p>
                        Copyright &copy; 2021 Web Store | All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>