<section *ngIf="footerDetail">
    <div class="footer">
        <div class="container">
            <div class="row points">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <h3>Web Store</h3> 
                        <!-- <hr class="title-hr"> -->
                        <p>Web Store is one of the leading digital marketing company in India. We offer a wide range of 360° digital marketing solutions for vertical like, travel, matrimonial, real estate, construction, health, hotel, B2B, B2C, recruitment, manufacturing, e-commerce development as so on. We take initiative action to design ,development and deliver promotional service that fulfill the fundamental requirement of a particular trade to get more client satisfaction.</p>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-3">
                        <h3>Services Provided</h3>
                        <!-- <hr class="title-hr"> -->
                        <a routerLink="web-development"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Web Development Services</a>
                        <a routerLink="search-engine-optimization"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Search Engine Optimization</a>
                        <a routerLink="social-media-marketing"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Social Media Marketing</a>
                        <a href=""><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Build Your Bussiness A Brand</a>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-3">
                        <h3>Policy</h3>
                        <!-- <hr class="title-hr"> -->
                        <a routerLink = "about"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>About Us</a>
                        <a routerLink = "privacy-policy"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Privacy Policy</a>
                        <a routerLink = "contact"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Contact information</a>
                        <a routerLink = "terms-and-conditions"><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Terms & Conditions</a>
                </div>
            </div>
            <div class="row">
                <div class="col py-3">
                    <a href="" class="mr-3"><img src="assets/social_icons/facebook.png"  alt="facebook"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/instagram.png"  alt="instagram"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/youtube.png"  alt="youtube"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/whatsapp.png"  alt="whatsapp"></a>
                    <a href="" class="mr-3"><img src="assets/social_icons/linkedin.png"  alt="linkedin"></a>
                     <a href="" class="mr-3"><img src="assets/social_icons/twitter.png"  alt="twitter"></a>
                    
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="hr-line" />
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="d-flex des">
                        <div style="width:40px">
                            <i class="fa fa-whatsapp fa-2x" style="color: #4cc2c0;"></i>
                        </div>
                        <div>
                            <h2>+91 7838114278</h2>
                            <p>Mon-Sat 9am-6pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="d-flex des">
                        <div style="width:40px">
                            <i class="fa fa-envelope fa-2x" style="color: #4cc2c0;"></i>
                        </div>
                        <div>
                            <h2>asif20856@gmail.com</h2>
                            <p>Online Support</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="d-flex des">
                        <div style="width:40px">
                            <i class="fa fa-location-arrow fa-2x" style="color: #4cc2c0;"></i>
                        </div>
                        <div>
                            <h2>Patna, India</h2>
                            <p>Patna city</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>




<section *ngIf="footerDetail">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col pt-4 pb-4">
                    <p>
                        Copyright &copy; 2021 Web Store | All Rights Reserved. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>