.we-design{
    background-color: var(--theme2-background);
    padding-top: 20px;
    padding-bottom: 40px;
}
.we-design h2{
    color: var(--text-dark-high);
}
.we-design p{
    text-align: justify;
    color: var(--text-dark-low);
}

a{
    display: block;
    text-align: center;
    color: var(--theme2-text);
}