<section>
    <div class="featured-landing">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-6 col-xs-12 pb-3">
                    <h1>Build Your Bussiness A Brand</h1>
                    <p>With the years of experience in the field of Web Designing and Development,
                        we have gathered a wealth of Knowledge and are capable of providing
                        world class services.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 pb-3">
                    <app-quick-quote-form></app-quick-quote-form>
                </div>
            </div>
        </div>
    </div>
</section>