<section>
    <div class="about-featured">
        <div class="back-img">
            <img src="assets/images/about-us.jpg" alt="">
        </div>
        <div class="featured-text">
            <div class="container">
                <div class="row">
                    <div class="col ">
                        <div style="height: 250px;" class="d-flex flex-dirextion-column align-items-center justify-content-center">
                            <h1>SEARCH ENGINE OPTIMIZATION</h1>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>