<section>
    <div class="privacy">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Aseps WebTech respects and protects the privacy of the individuals that access the information and use the services provided through them. Individually identifiable information about the User is not willfully disclosed to any third party without first receiving the User’s permission, as covered in this Privacy Policy.

                        This Privacy Policy describes Aseps WebTech’ treatment of personally identifiable information that Aseps WebTech collects when Useris on the Aseps WebTech website. Aseps WebTech does not collect any unique information about the User (such as User’s name, email address, age, gender etc.) except when the User specifically and knowingly provide such information on the Website. Like any business interested in offering the highest quality of service to clients, Aseps WebTech may, from time to time, send email and other communication to the User tell them about the various services, features, functionality and content offered by Aseps WebTech website or seek voluntary information from you.
                        
                        Please be aware, however, that Aseps WebTech will release specific personal information about the User if required to do so in the following cirumstances:</p>
                </div>
            </div>
        </div>
    </div>
</section>
