<section>
    <div class="main-container">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-xs-12 pb-3">
                    <div>
                        <img src="assets/images/—Pngtree—cyber security illustration on laptop_5439568.png" width="100%" alt="">
                        <a href='https://pngtree.com/so/computer'>computer png from pngtree.com</a>
                    </div>
                </div>
                <div class="col-md-7 col-xs-12 pb-3">
                    <div>
                        <h2>Web Development In</h2>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <p><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>WORD PRESS DEVELOPMENT</p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <p><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>NODE JS DEVELOPMENT</p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <p><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>HTML / CSS FRONTEND</p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <p><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>ANGULAR DEVELOPMENT</p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <p><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>BOOTSTRAP WEBSITE</p>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <p><i class="fa fa-caret-right mr-2" aria-hidden="true"></i>CUSTOM WEB DEVELOPMENT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>