/* You can add global styles to this file, and also import other style files */
:root{
    --theme-gradient : linear-gradient(to right top, #8b49f1, #8147ea, #7744e4, #6c42dd, #623fd6, #583acb, #4e35c1, #4430b6, #3828a6, #2d2095, #201986, #131176);
    --text-dark-high : #212529;
    --text-dark-low :#232629 ;
    --text-light-high :rgb(250, 250, 250) ;
    --background-dark : #222222;
    --background-light: rgb(253, 253, 253);
    --background-white:white ;

}
/* :root{
    --theme-gradient : linear-gradient(to right top, #8b49f1, #8147ea, #7744e4, #6c42dd, #623fd6, #583acb, #4e35c1, #4430b6, #3828a6, #2d2095, #201986, #131176);
    --text-dark-high : rgb(250, 250, 250);
    --text-dark-low :rgb(250, 250, 250);
    --text-light-high :#212529 ;
    --background-dark :rgb(250, 250, 250);
    --background-light:  #222222;
    --background-white:#222222 ;
} */
h2{
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
h4{
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}

p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing:1px;
}






.single-post p{
    font-size: 15px ;
    color: rgb(34, 34, 34);
    letter-spacing: .5px;
}
.single-post h2{
    font-size: 22px ;
    color: rgb(34, 34, 34);
    letter-spacing: .5px;
    font-weight: 500;
}
.single-post h3{
    font-size: 20px ;
    color: rgb(34, 34, 34);
    letter-spacing: .5px;
    font-weight: 500;
}
.single-post a{
    text-decoration:none;
    color: rgb(106, 106, 248);
    cursor: pointer;
}

.single-post ul{
    padding-left: 20px;
}