/* You can add global styles to this file, and also import other style files */
:root{
    --theme-gradient : linear-gradient(to right top, #8b49f1, #8147ea, #7744e4, #6c42dd, #623fd6, #583acb, #4e35c1, #4430b6, #3828a6, #2d2095, #201986, #131176);
    /* theme 1 */
    --theme1-background: #383838;
    --theme1-text :rgb(248, 244, 244) ;

    /* theme 2 */
    --theme2-background: rgb(224, 224, 224);
    --theme2-text : #212529;


    /* theme 3 */
    --theme3-background:white ;
    --theme3-text : #212529;

}
/* :root{
    --theme-gradient : linear-gradient(to right top, #8b49f1, #8147ea, #7744e4, #6c42dd, #623fd6, #583acb, #4e35c1, #4430b6, #3828a6, #2d2095, #201986, #131176);
    --text-dark-high : rgb(250, 250, 250);
    --text-dark-low :rgb(250, 250, 250);
    --text-light-high :#212529 ;
    --background-dark :rgb(250, 250, 250);
    --background-light:  #222222;
    --background-white:#222222 ;
} */
h2{
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
h4{
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}

p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing:1px;
}


/* featured landing section start */
.featured-landing{
    padding-top: 30px;
    padding-bottom: 20px;
}
.featured-landing h1{
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 45px;
}
.featured-landing p{
    color:white;
    text-align: justify;
}
/* featured landing section end */



/* single post global css start */
.single-post p{
    font-size: 16px ;
    color: var(--theme2-text);
    letter-spacing: .5px;
    text-align: justify;
    margin-bottom: 20px;
}
.single-post h2{
    font-size: 22px ;
    color: var(--theme2-text);
    letter-spacing: .5px;
    text-transform: unset;
    font-weight: 600;
    text-align: justify;
    margin-bottom: 10px;
}
.single-post h3{
    font-size: 20px ;
    color: var(--theme2-text);
    letter-spacing: .5px;
    font-weight: 600;
    text-align: justify;
}
.single-post a{
    text-decoration:none;
    color: rgb(73, 73, 245);
    cursor: pointer;
}

.single-post ul{
    padding-left: 20px;
}
.single-post ul li{
    color: var(--theme2-text);
    text-align: justify;
    margin-bottom: 10px;
}
/* single post global css end */