<section>
    <div class="featured-landing">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Get Professional Developers for your unique website...</h1>
                    <p>With the years of experience in the field of Web Designing and Development,
                        we have gathered a wealth of Knowledge and are capable of providing
                        world class services.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="myform">
                        <h3>Quick Quote</h3>
                        <p>Fill Up The Form To Get A Quick Call Back From Us!</p>
                        <form>
                            <input type="text" placeholder="Your Name *">
                            <input type="text" placeholder="Phone No *">
                            <input type="email" placeholder="Email Id *">
                            <input type="text" placeholder="Your City *">
                            <button type="submit" >SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<app-our-services></app-our-services>
<app-our-portfolio></app-our-portfolio>