<section>
    <div class="featured-landing">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Get Professional Developers for your unique website...</h1>
                    <p>With the years of experience in the field of Web Designing and Development,
                        we have gathered a wealth of Knowledge and are capable of providing
                        world class services.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="myform">
                        <h3>Quick Quote</h3>
                        <p>Fill Up The Form To Get A Quick Call Back From Us!</p>
                        <form>
                            <input type="text" placeholder="Your Name *">
                            <input type="text" placeholder="Phone No *">
                            <input type="email" placeholder="Email Id *">
                            <input type="text" placeholder="Your City *">
                            <button type="submit" >SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="how-we-are">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>How We Are Different ?</h1>
                    <p>
                        Web Store is specialized in professional Website Design, 
                        Development, Digital Marketing & App Design services. 
                        Our team of highly experienced designers, writers and Digital Marketing 
                        experts work as a unit to offer quality services in the given time frame. 
                        Systematic work environment, dedication, knowledge and zeal to learn 
                        innovative Digital Marketing techniques allow us to stay competitive. Consult 
                        Next Screen Infotech to get One Stop Destination for all your wish. 
                        Browse our services pages to know how we can help you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<app-our-services></app-our-services>


<section>
    <div class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Our Portfolio</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                    <div class="port d-flex">
                        <div style="flex:1;">
                            <h2>prime</h2>
                            <h3>Web Designing</h3>
                            <h4>Explicit Web Designing Services</h4>
                            <p>strengthen your brand with <br> Professional<br>Web Design </p>
                            
                        </div>
                        <div style="flex:1;">
                            <img src="https://www.nextscreen.in/assets/images/portfoliopic1.svg">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4">
                    <div class="port d-flex">
                        <div style="flex:1;">
                            <h2>prime</h2>
                            <h3>Web Designing</h3>
                            <h4>Explicit Web Designing Services</h4>
                            <p>strengthen your brand with <br> Professional<br>Web Design </p>
                            
                        </div>
                        <div style="flex:1;">
                            <img src="https://www.nextscreen.in/assets/images/portfoliopic1.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




