.how-we-are{
    background-color: var(--background-white);
    padding-top: 40px;
    padding-bottom: 40px;
}
.how-we-are h2{
    color: var(--text-dark-high);
}
.how-we-are p{
    text-align: justify;
    color:var(--text-dark-low);
    margin-bottom: 40px;
    
}