.how-we-are{
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.how-we-are h1{
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    color:#333333;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 3px;
}
.how-we-are p{
    text-align: justify;
    color:black;
    letter-spacing:1px;
    margin-bottom: 40px;
    font-weight: 400;
}